@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:linear-gradient(to right,#533BFA,#9787FB);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #000661;
    width: 600px;
    padding:10px;
    margin: auto;
}

h1 {
    color: #ccbc07;
    text-align: center;
    text-shadow: 1px 1px 2px #746b0b ;
}

h2{color: #C215FA;}
p{
    text-align: justify;
}